<div class="container d-flex flex-column justify-content-around align-items-center" style="height:100vh">
    <div class="projectName align-self-start">
        <h1>Client Management System</h1>
        <h3>Developed by : Karthik Shetty</h3>
    </div>

    <div class="d-flex w-100 justify-content-around">
        <div></div>
        <div></div>
        <div class="startBtn">
            <input type="button" class="btn btn-danger fs-1 px-5" value="Start" routerLink="login" />
        </div>
        <div class="adminDetails ">
            <h3 class="text-decoration-underline">Admin login Credentials</h3>
            <h4><b>Admin Email: </b>admin@gmail.com<br />
                <b>Admin password: </b>@admin123<br />
            </h4>
        </div>
    </div>
</div>