.studId {
    font-size: smaller;
}
table {
    border-radius: 20px;
}
.table{
    --bs-table-bg: var(--secondary);
    -webkit-box-shadow: 8px 8px 5px -6px rgba(0,0,0,0.46);
-moz-box-shadow: 8px 8px 5px -6px rgba(0,0,0,0.46);
box-shadow: 8px 8px 5px -6px rgba(0,0,0,0.46);
}
.card{
    background-color : var(--secondary);
    color : #151935;
}
.card h1{
    font-weight: 600;
}
.addModal {
    background-color:var(--secondary);
    color:var(--text-primary);
    max-width: 600px;
}
.modal-dialog{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.addBtn {
    background-color: #151935;
    color : white;
}