.nav {
    background-color: var(--secondary);
    -webkit-box-shadow: 5px 6px 17px -3px rgba(112,112,112,1);
    -moz-box-shadow: 5px 6px 17px -3px rgba(112,112,112,1);
    box-shadow: 5px 6px 17px -3px rgba(112,112,112,1);

}
.active {
    text-decoration: underline;
}