<div class="container mt-3" *ngIf="navbar">
    <nav class="navbar navbar-expand-lg  rounded">
      <div class="container-fluid p-3 nav">
        <a class="navbar-brand fw-bolder fs-5 bg-dark text-light rounded-5 p-2" routerLink="homeDashboard">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav me-auto mb-2 ms-4 mb-lg-0 d-flex gap-5 fs-5">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="homeDashboard">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="clients">Clients</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="projects" >Projects</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="meetings" >Meetings</a>
            </li>
           </ul> 
           <input type="button" class="btn btn-danger" value="Logout" routerLink="login"/>
        </div>
      </div>
    </nav>
</div>

<router-outlet></router-outlet>